html {
    margin: 2px;
    padding: 2px; 
}
body {
    background-color: white; 
    font-family: Verdana, sans-serif; 
    font-size: 9pt;
    min-width: 1000px;
}
h1 {
    font-size: 200%; 
    color: navy; 
    text-align: center;
}
h2 {
    font-size: 160%;
    color: navy;
    padding-left: 5px;
}
h3 {
    font-size: 140%;
    color: navy;
    padding-left: 5px;
}
h4 {
    font-size: 120%;
    color: navy;
    padding-left: 5px;
}
p,ul,li,td {
    color: black; 
}

.surligne {
    color: black;
    background-color: yellow; 
}

a:link {
    color: blue;
    background-color: transparent; 
    text-decoration: underline;
}
a:visited {
    color: gray;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: red;
    text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
    text-align: left;
    padding: 2px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4); 
}

tr:hover {background-color: #EEFFEE;}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

img {
  float: right;
}

.imgboueefixe  {
    float: none;
    display: none;
    width:16px;
    height:24px;
}

button {
  background-color: lightyellow; 
  color: navy;
  text-align: center;
}

.input {
  float: none;
  background-color: navy; 
  color: white;
  text-align: center;
}


.attention {
  float: none;
  background-color: #aa0077; 
  color: white;
  text-align: center;
}

.map {
  float: none;
  background-color: #006600; 
  color: white;
  text-align: center;
}

#entete {
  background-color: navy;
  color: yellow;
  border: 1px solid orange;
  margin: 2px;
  padding: 2px;
   width:100%;
}

.menu {
  background-color: navy;
  color: yellow;
  border: 2px solid orange;
  margin: 2px;
  padding: 2px;
  width:100%;
}

.corpstexte {
  background-color: #def;
  color: black;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  clear: right;
  overflow: auto;
  display: none;
  width:100%;
  height: 230px;
}

#gauche {
  float: left;
  border: 1px solid black;
  background-color: #def;
  color: black;
  margin: 2px;
  padding: 2px;
  right: 0;
  top: 0;
  clear: right;
  overflow: auto;
  position : relative;
}


#droite {
  border: 1px solid black;
  color: black;
  margin: 2px;
  padding: 2px;
  right: 8px;
  top: 42px;
  width: 300px;
  height: 225px;
  clear: right;
  position : absolute;
}

.typebouee {
  background-color: #ffffee;
  color: black;
  margin: 2px;
  padding: 2px;
  visibility: hidden;
  width:100%;
}

.mapmenu {
  background-color: #eeffde;
  color: black;
  margin: 2px;
  padding: 2px;
  visibility: hidden;
  width:100%;
}

.scrollleft {
    height:100px;
    width:70%;
    margin:2px;
    padding:2px;
    border:1px solid black;
    float:left;
    overflow:auto;
}
    
.graphicLayout1 {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  height: 750px;
  width: 750px;
  clear: right;
  float: left;
  overflow: auto;
  visibility: visible;
}

#ajout{
  background-color: #ffffff;
  left: 0;
  top: 0;  
  color: black;
  height: 720px;
  width: 720px;
  display: block;
}

#fileedit{
  background-color: #ffffff;
  left: 0;
  top: 0;    
  color: black;
  height: 720px;
  width: 720px;
  display: none;
}
#moveedit{
  background-color: #ffffff;
  left: 0;
  top: 0;    
  color: black;
  height: 720px;
  width: 720px;
  display: none;
}

.info {
    right:0;
    position:relative;
}
 
.canvas {
    left:0;
    position:relative;
}
 
 #canvas1 {
  background-color: transparent;
  opacity:1;
  border: 0.5px solid grey;
  left:0;
  z-index: 2;
  position: absolute;
}
  
  #canvas2 {
    background-color: transparent;
    opacity:1;
    right: 0px;
    top: 0px;
    z-index: 4;
    position: absolute;
}


#canvas3 {
  background-color: transparent;
  opacity:1;
  left:0;
  z-index: 3;
  position: absolute;
}

#canvas4 {
  background-color:  transparent;
  opacity:1;
  right: 0;
  top: 150px;
  z-index: 1;
  position: absolute;
}

 #canvas5 {
  background-color: transparent;
  opacity:1;
  border: 0.5px solid grey;
  left:0;
  z-index: 2;
  position: absolute;
}
  
  #canvas6 {
  background-color: transparent;
    opacity:1;
    right: 0px;
    top: 0px;
    z-index: 4;
    position: absolute;
}


#canvas7 {
  background-color: transparent;
  opacity:1;
  left:0;
  z-index: 3;
  position: absolute;
}

#canvas8 {
  background-color:  transparent;
  opacity:1;
  right: 0;
  top: 150px;
  z-index: 1;
  position: absolute;
}


.graphicLayout2 {
  background-color: #eeffde;
  color: black;
  border: 1px solid black;
  margin: 2px;
  padding: 2px; 
  height: 750px;
  overflow: auto;
}

#osm-map {
  height:600px;
  width:100%;
}

/*Legend specific
https://codepen.io/haakseth/pen/KQbjdO
*/
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  border-radius: 3px;
  line-height: 24px;
  color: #555;
}

.legend h4 {
  text-align: center;
  font-size: 14px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 16px;
  height: 16px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 14px;
  background-color: rgba(255, 255, 255, 0);
}

.legend i2 {
  width: 24px;
  height: 36px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i2.icon {
  background-size: 32px;
  background-color: rgba(255, 255, 255, 1);
}


